UtecProject/Service References/SQLTrans/CrudService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRestaurantes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restaurantes" nillable="true" type="tns:Restaurantes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantes" nillable="true" type="tns:ArrayOfRestaurantes" />
  <xs:complexType name="Restaurantes">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurantes" nillable="true" type="tns:Restaurantes" />
  <xs:complexType name="ArrayOfUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuarios" nillable="true" type="tns:Usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarios" nillable="true" type="tns:ArrayOfUsuarios" />
  <xs:complexType name="Usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADMIN" type="xs:boolean" />
      <xs:element minOccurs="0" name="APELLIDO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_ELECTRONICO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_CUMPLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_USUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VISITAS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuarios" nillable="true" type="tns:Usuarios" />
  <xs:complexType name="ArrayOfPlatillos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Platillos" nillable="true" type="tns:Platillos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlatillos" nillable="true" type="tns:ArrayOfPlatillos" />
  <xs:complexType name="Platillos">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PLATILLOS" type="xs:int" />
      <xs:element minOccurs="0" name="ID_RESTAURANTES" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRECIO" type="xs:decimal" />
      <xs:element minOccurs="0" name="RATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="RESTAURANTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Platillos" nillable="true" type="tns:Platillos" />
  <xs:complexType name="ArrayOfComentarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comentarios" nillable="true" type="tns:Comentarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComentarios" nillable="true" type="tns:ArrayOfComentarios" />
  <xs:complexType name="Comentarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMENTARIOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_COMENTARIOS" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PLATILLOS" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comentarios" nillable="true" type="tns:Comentarios" />
  <xs:complexType name="LoginData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginData" nillable="true" type="tns:LoginData" />
  <xs:simpleType name="DeleteType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="DeleteType" nillable="true" type="tns:DeleteType" />
</xs:schema>