Prototipo/Service References/SQLTrans/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RESTService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RESTService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="VIEWS">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="VIEWS" nillable="true" type="tns:VIEWS" />
  <xs:complexType name="LoginData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginData" nillable="true" type="tns:LoginData" />
  <xs:complexType name="ArrayOfRestaurantes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restaurantes" nillable="true" type="tns:Restaurantes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantes" nillable="true" type="tns:ArrayOfRestaurantes" />
  <xs:complexType name="Restaurantes">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurantes" nillable="true" type="tns:Restaurantes" />
</xs:schema>