Prototipo/Service References/SQLTrans/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50075/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50075/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50075/Service1.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:50075/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RESTService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_View_InputMessage">
    <wsdl:part name="parameters" element="tns:View" />
  </wsdl:message>
  <wsdl:message name="IService1_View_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_existUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:existUserName" />
  </wsdl:message>
  <wsdl:message name="IService1_existUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:existUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRestaurantes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRestaurantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarRestaurante_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarRestaurante" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarRestaurante_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarImagen_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarImagen" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarImagen_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarImagenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarPlatillo_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarPlatillo" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarPlatillo_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarPlatilloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarPunto_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarPunto" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarPunto_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarPuntoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarEstadistica_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarEstadistica" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarEstadistica_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarEstadisticaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarComentario_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarComentario" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarComentario_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarComentarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarValoracion_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarValoracion" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarValoracion_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarValoracionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarLog_InputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarLog" />
  </wsdl:message>
  <wsdl:message name="IService1_sp_AgregarLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:sp_AgregarLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Select" message="tns:IService1_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectResponse" message="tns:IService1_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="View">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/View" message="tns:IService1_View_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewResponse" message="tns:IService1_View_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update" message="tns:IService1_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateResponse" message="tns:IService1_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete" message="tns:IService1_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteResponse" message="tns:IService1_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="existUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/existUserName" message="tns:IService1_existUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/existUserNameResponse" message="tns:IService1_existUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isAdmin" message="tns:IService1_isAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isAdminResponse" message="tns:IService1_isAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRestaurantes" message="tns:IService1_GetRestaurantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRestaurantesResponse" message="tns:IService1_GetRestaurantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarRestaurante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarRestaurante" message="tns:IService1_sp_AgregarRestaurante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarRestauranteResponse" message="tns:IService1_sp_AgregarRestaurante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarUsuario" message="tns:IService1_sp_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarUsuarioResponse" message="tns:IService1_sp_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_ValidarUsuario" message="tns:IService1_sp_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_ValidarUsuarioResponse" message="tns:IService1_sp_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarImagen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarImagen" message="tns:IService1_sp_AgregarImagen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarImagenResponse" message="tns:IService1_sp_AgregarImagen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarPlatillo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarPlatillo" message="tns:IService1_sp_AgregarPlatillo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarPlatilloResponse" message="tns:IService1_sp_AgregarPlatillo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarPunto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarPunto" message="tns:IService1_sp_AgregarPunto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarPuntoResponse" message="tns:IService1_sp_AgregarPunto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarEstadistica">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarEstadistica" message="tns:IService1_sp_AgregarEstadistica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarEstadisticaResponse" message="tns:IService1_sp_AgregarEstadistica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarComentario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarComentario" message="tns:IService1_sp_AgregarComentario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarComentarioResponse" message="tns:IService1_sp_AgregarComentario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarValoracion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarValoracion" message="tns:IService1_sp_AgregarValoracion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarValoracionResponse" message="tns:IService1_sp_AgregarValoracion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sp_AgregarLog" message="tns:IService1_sp_AgregarLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sp_AgregarLogResponse" message="tns:IService1_sp_AgregarLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IService1/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="View">
      <soap:operation soapAction="http://tempuri.org/IService1/View" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IService1/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existUserName">
      <soap:operation soapAction="http://tempuri.org/IService1/existUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRestaurantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarRestaurante">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarImagen">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarPlatillo">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarPlatillo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarPunto">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarPunto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarEstadistica">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarEstadistica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarComentario">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarComentario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarValoracion">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarValoracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sp_AgregarLog">
      <soap:operation soapAction="http://tempuri.org/IService1/sp_AgregarLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50075/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>